# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
ENV/
env/
.venv/

# Flask instance folder
instance/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.wheel/
*.egg-info/
*.egg

# Pytest
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE-specific files
.idea/
*.iml